.plain_text {
    margin-top: 60px;
    display: flex;
    font-family: geometria light;
    font-kerning: auto;
    width: 80%;
    font-size: 18px;
}

.plain_text h1{
    font-size: 40px;    
    font-style: normal;
    font-weight: normal;
}

.plain_text h2{
    font-size: 30px;
    font-family: 'Inter';
    font-weight: bolder;
}

.plain_text h3{
    text-align: left;
    font-weight: bold;
    font-style: italic;
}

.plain_text p {
    text-align: left;
}

.plain_text a {
    color: black;
}